{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    {# Check if there are items or not #}
    {% if items %}
      <div{{ attributes.addClass(classes, 'field__items') }}>
        {% for item in items %}
          <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
        {% endfor %}
      </div>
    {% else %}
      <div class="field__item">Welcome</div>
    {% endif %}
  {% else %}
    {# Check if there is a single item or not #}
    {% if items %}
      {% for item in items %}
        <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
      {% endfor %}
    {% else %}
      <div class="field__item">Welcome</div>
    {% endif %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      {# Check if there are items or not #}
      {% if items %}
        <div class="field__items">
          {% for item in items %}
            <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
          {% endfor %}
        </div>
      {% else %}
        <div class="field__item">Welcome</div>
      {% endif %}
    {% else %}
      {# Check if there is a single item or not #}
      {% if items %}
        {% for item in items %}
          <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
        {% endfor %}
      {% else %}
        <div class="field__item">Welcome</div>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
